.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100vw;
}
#title
{
    width: 400px;
}
h1
{
    text-align: center;
}
table,tr,td,th
{
   
}